body {
    margin: 0;
    background-color: #303841;
    font-family: 'Poppins', sans-serif;
    color: #f1faee;
}
/*navigation bar start*/
#navbar {
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: flex-end;
    background-color: #be3144;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

#navbar ul li:hover {
    background-color: #45567d;
    /*cursor: pointer;*/
}

.navlink {
	display: block;
	padding: 20px 30px;
}

a {
    color: #EDF6F9;
    text-decoration-line: none;
    font-style: bold;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
}
/*navigation bar end*/

/*welcome section start*/
#welcome-section {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
	text-align: center;
    font-size: 50px;
    margin-bottom: 0;
}

p {
	text-align: center;
    color: #e63946;
    font-style: italic;
    font-size: 25px;
}
/*welcome section end*/

/*project section start*/
.project-title {
	text-align: center;
    font-size: 40px;
    margin-bottom: 50px;
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-bottom-color: #f1faee;
    padding: 10px;
}

#projects {
    width: 100%;
    background-color: #45567d;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(3, 350px);
    grid-template-rows: repeat(2, 350px);
    grid-column-gap: 20px;
    grid-row-gap: 40px;
    padding: 20px 0px;
}

.project-tile {
    display: flex;
    flex-direction: column;
    border-style: none;
}

.project-tile:hover {
	box-shadow: 0 0 15px #be3144; 
}

img {
    max-width: 100%; 
    display: block; 
    height: 85%;
}

.project-header {
    height: 15%;
    background-color: #303841;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/*project section end*/

/*contact section start*/
#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

h2 {
	text-align: center;
    font-size: 70px;
}

.icon {
	max-width: 100%;
	height: auto;
}

#contact-link {
	display: flex;
	align-items: center;
}

#contact-link:hover {
	transform: translateY(5px);
}

@media (max-width: 1100px){
	.projects-grid {
		grid-template-columns: repeat(2, 40vw);
		grid-template-rows: repeat(3, 50vw);
	}
}
/*contact section end*/

@media (max-width: 580px) {

	#navbar {
		justify-content: center;
	}

	.projects-grid {
		grid-template-columns: 90vw;
		grid-template-rows: repeat(6, 110vw);
	}

	h1 {
		font-size: 40px;
	}

	p {
		font-size: 20px;
	}

	.project-title, h2 {
		font-size: 30px;
	}
}